@inherits LayoutComponentBase

<div class="app-container">
    <!-- Sidebar -->
    <div class="sidebar @(isSidebarOpen ? "open" : "closed")">
        <img src="brand/RANDLOGO1.png" alt="Randomize Icon" class="logo" />

        <!-- Home -->
        <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i> Home
        </NavLink>
        <!-- Text -->
        <NavLink href="/string" class="nav-item">
            <i class="bi bi-type"></i> Text Randomizers
        </NavLink>
        <!-- Number -->
        <NavLink href="/number" class="nav-item">
            <i class="bi bi-123"></i> Number Randomizers
        </NavLink>
        <!-- Wheel -->
        <NavLink href="/wheel" class="nav-item">
            <i class="bi bi-123"></i> Spinning Wheel
        </NavLink>
        <!-- Group Shuffler -->
        <NavLink href="/groupshuffler" class="nav-item">
            <i class="bi bi-123"></i> Group Shuffler
        </NavLink>
        <!-- Shift Planner -->
        <NavLink href="/shiftplanner" class="nav-item">
            <i class="bi bi-123"></i> Shift Planner
        </NavLink>
    </div>

    <!-- Main content -->
    <div class="content">
        <button class="sidebar-toggle" @onclick="ToggleSidebar">
            @if (isSidebarOpen)
            {
                <svg viewBox="0 0 24 24" width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
                </svg>
            }
            else
            {
                <svg viewBox="0 0 24 24" width="25" height="25" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
                </svg>
            }
        </button>

        <p class="content header-version">Beta v0.25</p>
        <a href="https://github.com/SimonZaloudek" class="header-link">About</a>

        @Body
    </div>
</div>

@code {
    private bool isSidebarOpen = false;

    private void ToggleSidebar()
    {
        isSidebarOpen = !isSidebarOpen;
    }
}