@inherits LayoutComponentBase

<div class="app-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="brand/RANDLOGO1.png" alt="Randomize Icon" class="logo" />

        <NavLink href="/" class="nav-item" Match="NavLinkMatch.All">
            <i class="bi bi-house"></i> Home
        </NavLink>
        <NavLink href="/string" class="nav-item">
            <i class="bi bi-type"></i> String Randomizer
        </NavLink>
        <NavLink href="/number" class="nav-item">
            <i class="bi bi-123"></i> Number Randomizer
        </NavLink>
        <NavLink href="/wheel" class="nav-item">
            <i class="bi bi-123"></i> Spinning Wheel
        </NavLink>
        <NavLink href="/groupshuffler" class="nav-item">
            <i class="bi bi-123"></i> Group Shuffler
        </NavLink>
    </div>

    <!-- Main content -->
    <div class="content">
        <p class="content header-version">Beta v0.2</p>
        <a href="https://github.com/SimonZaloudek" class="header-link">About</a>
        @Body
    </div>
</div>
