@page "/"

<PageTitle>Home</PageTitle>
<div class="hero">
    <img src="brand/randlogofull3.png" alt="Full Randomize Logo" class="hero-img" />
</div>
<h3 style="margin-top: 40px">Unlock the power of RANDOM!</h3>


